@media screen and (max-width: 1280px) {
	}
		
@media screen and (max-width: 1280px) {
	aside { height:380px;}
	}
		
@media screen and (max-width: 1000px) {
	body { width:100%;}
	article { width:100%; float:none;}
	aside { width:100%; float:none;}
	.nav a { font-size:62%;}
	.dropdown .dropbtn { font-size:62%; }
	}
